
MEMORY {
    # system RAM.
    ZEROPAGE: file = "", start = $0000,  size = $0100,  type = rw;
    STACK:    file = "", start = $0100,  size = $0100,  type = rw;
    SYS_RAM:  file = "", start = $0200,  size = $0600,  type = rw;

    # iNES/NES 2.0 file header.
    HEADER:   file = %O, start = $0000,  size = $0010,  type = ro, fill = yes;

    # code and data.
    PRG_ROM:  file = %O, start = $8000,  size = $8000,  type = ro, fill = yes;

    # character ROM.
    CHR_ROM:  file = %O, start = $0000,  size = $2000,  type = ro, fill = yes;
}

SEGMENTS {
    # system RAM.
    TEMP:      load = ZEROPAGE, type = zp,  define = yes;
    ZEROPAGE:  load = ZEROPAGE, type = zp,  define = yes;
    STACK:     load = STACK,    type = bss, define = yes, optional = true;
    OAM:       load = SYS_RAM,  type = bss, define = yes, optional = true;
    BSS:       load = SYS_RAM,  type = bss, define = yes;

    # iNES/NES 2.0 file header.
    HEADER:    load = HEADER,   type = ro,  define = yes;

    # read-only data.
    RODATA:    load = PRG_ROM,  type = ro,  define = yes;
    # executable code.
    CODE:      load = PRG_ROM,  type = ro,  define = yes;
    # interrupt vectors.
    VECTORS:   load = PRG_ROM,  type = ro,  define = yes, start=$FFFA;

    # character ROM.
    CHR:       load = CHR_ROM,  type = ro;
}